:root {
  /** https://tailwindcss.com/docs/colors */
  --theme: #0284c7;
  --theme-light: #e0f2fe;

  --dark-gray: #64748b;
  --light-gray: #e2e8f0;
  --off-white: #f8fafc;

  --success: #10b981;
  --warning: #f59e0b;
  --error: #ef4444;

  --content: 1200px;
  --full: calc(100vw - 100px);

  --sans: "Open Sans", sans-serif;
  --mono: "IBM Plex Mono", monospace;
  --regular: 400;
  --bold: 600;

  --shadow: 0 0 2px 0 #00000020, 1px 3px 10px -2px #00000020;
  --rounded: 5px;
  --fast: 0.1s ease-in-out;

  --compact: 1.5;
  --loose: 2;
}

* {
  box-sizing: border-box;
  font-family: var(--sans);
  text-underline-offset: 0.1em;
}

@media print {
  * {
    box-shadow: none !important;
  }
}

/* layout */

body {
  margin: 0;
  line-height: var(--compact);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px max(40px, (100% - var(--content)) / 2);
  gap: 40px;
  break-inside: avoid;
}

section.full {
  --content: 99999px;
}

section.narrow {
  --content: 600px;
}

section:nth-child(odd) {
  background: var(--off-white);
}

section:last-child {
  flex-grow: 1;
}

/* headings */

h1,
h2,
h3,
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  gap: 0.65em;
  color: var(--dark-gray);
  font-weight: var(--bold);
  text-align: center;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  justify-content: flex-start;
  font-size: 1.2rem;
  text-align: left;
}

h4 {
  justify-content: flex-start;
  font-size: 1rem;
  text-align: left;
}

:is(h1, h2, h3, h4) > svg {
  position: relative;
  top: 1px;
  height: 0.75em;
  opacity: 0.75;
}

hr {
  width: 100%;
  height: 2px;
  border: none;
  background: var(--light-gray);
}

/* formatting */

b,
strong {
  font-weight: var(--bold);
}

a {
  display: inline-flex;
  align-items: center;
  padding: 0 0.2em;
  gap: 5px;
  border-radius: calc(var(--rounded) / 2);
  background: transparent;
  color: var(--theme);
  transition: var(--fast);
  transition-property: color, background;
}

a:hover {
  background: var(--theme);
  color: white;
}

p {
  max-width: var(--content);
  margin: 0;
  line-height: var(--loose);
}

code {
  padding: 0 0.2em;
  border-radius: var(--rounded);
  background: var(--light-gray);
  font-family: var(--mono);
}

/* images */

svg {
  flex-shrink: 0;
}

/* interactive */

button {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

/* table */

table {
  border-collapse: collapse;
  background: white;
  overflow-wrap: break-word;
}

tr {
  border-bottom: solid 1px var(--light-gray);
}

th {
  background: var(--off-white);
  font-weight: var(--bold);
}

th,
td {
  padding: 0;
}

/** list */

ul,
ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  gap: 5px;
}

/** util */

.center {
  text-align: center;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/** definitions */

dl {
  margin: 0;
}

dt {
  margin: 0;
}

dd {
  margin: 0;
}

/** col layout */

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

/* auto two-col layout */

.mini-table {
  display: grid;
  grid-template-columns: minmax(auto, max-content) auto;
  align-items: center;
  width: 100%;
  gap: 5px 20px;
}

.mini-table > :nth-child(odd) {
  color: var(--dark-gray);
}

/* info cards */

.details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 100%;
  gap: 20px;
  text-align: left;
}

.details > * {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 10px;
  gap: 5px;
  border-radius: var(--rounded);
  background: white;
  box-shadow: var(--shadow);
}

.details > * > :first-child {
  color: var(--dark-gray);
  font-weight: var(--bold);
}

/* chart layout */

.charts {
  display: grid;
  --cols: 3;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  place-content: center;
  place-items: center;
  width: 100%;
  gap: 20px;
}

.chart,
.charts > * {
  aspect-ratio: 4 / 3;
  max-width: calc(var(--content) / 2);
}

/** vue e-charts */

.echarts {
  overflow: hidden;
  border-radius: var(--rounded);
  background: white;
  box-shadow: var(--shadow);
}

.vue-echarts-inner {
  width: unset !important;
  height: unset !important;
}

.vue-echarts-inner > div {
  width: unset !important;
  height: unset !important;
}

.vue-echarts-inner svg {
  position: unset !important;
  top: 0 !important;
  left: 0 !important;
}
