:root {
  --theme: #25668e;

  --dark-gray: #334155;
  --gray: #94a3b8;
  --light-gray: #e2e8f0;

  --content: 1200px;

  --regular: 400;
  --bold: 600;

  --shadow: 0 0 5px -2px #00000020, 1px 3px 10px -2px #33415520;
  --rounded: 5px;
  --fast: 0.1s ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  line-height: 1.5;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 40px max(40px, (100% - var(--content)) / 2); */
  padding: 40px;
  gap: 40px;
}

h1,
h2,
h3,
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  gap: 0.75em;
  color: var(--theme);
  font-weight: var(--bold);
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

b,
strong {
  font-weight: var(--bold);
}

a {
  display: inline-flex;
  align-items: center;
  padding: 0 2px;
  gap: 5px;
  border-radius: calc(var(--rounded) / 2);
  background: transparent;
  color: var(--theme);
  overflow-wrap: anywhere;
  transition: var(--fast);
  transition-property: color, background;
}

a:hover {
  background: var(--dark-gray);
  color: white;
}

button {
  appearance: none;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

@media print {
  table {
    width: 100%;
    table-layout: fixed;
  }

  th,
  td {
    overflow-wrap: anywhere;
  }
}

table {
  border-collapse: collapse;
  overflow-wrap: break-word;
}

th {
  font-weight: var(--bold);
}

th {
  background: var(--light-gray);
}

th,
td {
  padding: 0;
  text-align: left;
}

tbody tr {
  border-bottom: solid 1px var(--light-gray);
}

.scrollable-left::before,
.scrollable-right::after {
  --fade: 30px;
  display: block;
  position: sticky;
  width: var(--fade);
  height: 9999px;
  margin-top: -9999px;
  margin-left: -var(--fade);
  inset: 0;
  content: "";
}

@media print {
  .scrollable-left::before,
  .scrollable-right::after {
    display: none;
  }
}

.scrollable-left::before {
  background: linear-gradient(
    to right,
    var(--light-gray) 0,
    transparent var(--fade)
  );
}

.scrollable-right::after {
  left: calc(100% - var(--fade));
  background: linear-gradient(
    to left,
    var(--light-gray) 0,
    transparent var(--fade)
  );
}
